{% extends "medicare/index.html" %}
{%block title%}<title>ABOUT US</title> {%endblock title%}
{%block menu%}
        <div id="templatemo_menu">
            <ul>
                <li><a href="/mis/home" >Home</a></li>
                <li><a href="/mis/services">Services</a></li>
                <li><a href="/mis/news">News</a></li>
                <li><a href="/mis/aboutUs" class="current">About us</a></li>
                <li><a href="/mis/contact">Contact</a></li>
                {% ifnotequal user.username '' %}
                
                					<li><a href="/mis/pat_portal">My Portal</a></li>
                				  <li><a href="/mis/logout">Logout</a></li>
                	{% else %}
                					<li><a href="/mis/login">Client Login</a></li>
                	{% endifnotequal %}
            </ul>    	
        </div> <!-- end of templatemo_menu -->
        {%endblock%}


{% block content %}
        <div class="col_w600">
        
        	<h2>ABOUT US</h2>
                <div class="/static/image_wrapper image_fl"><img src="/static/images/templatemo_image_04.jpg" alt="Image 04" /></div>
                <p><em>Curabitur elementum mi sit amet nulla placerat nec vulputate elit pretium. Ut laoreet volutpat nisl vel sagittis.</em></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim lorem ac est dictum vitae mattis purus imperdiet. Ut sed est ut urna posuere faucibus. Nulla imperdiet porta pharetra. Aliquam pharetra suscipit tincidunt. Ut laoreet volutpat nisl vel sagittis. Mauris tempus purus vel orci porta consequat dictum libero rutrum. Integer a fermentum risus. Integer pellentesque malesuada rutrum. </p>
                <div class="btn_more float_r"><a href="#">Read more</a></div>
                
                <div class="cleaner_h50"></div>
                
                <h2>OUR <span>COMPANY</span></h2>
  	       		<p><em>Morbi sed nulla ac est cursus suscipit eu ac lectus. Curabitur  ullamcorper nibh nisi, sed eleifend dolor.</em></p>
                <p>Donec dignissim lorem ac est dictum vitae mattis purus imperdiet. Ut sed est ut urna posuere faucibus. Nulla imperdiet porta pharetra. Morbi sed nulla ac est cursus suscipit eu ac lectus.  Donec dignissim lorem ac est dictum vitae mattis purus imperdiet. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                
                <ul class="tmo_list">
                  <li>Cras rutrum ullamcorper </li>
                    <li>Sed nec eros egestas nisl </li>
                    <li>Tellus dolor faucibus risus </li>
                    <li>Curabitur ullamcorper nibh </li>
                    <li>Pellentesque adipiscing </li>                        
</ul>
                <div class="cleaner"></div>
                <div class="btn_more"><a href="services.html">Read more</a></div>
        
        </div>
        
        <div class="col_w300 col_last">
        	<h2>OUR <span>NEWS</span></h2>
            <div class="sb_news_box"><img src="/static/images/templatemo_image_04.jpg" alt="Image 04" />
    			<h6><a href="#">Ut volutpat erat nec mauris</a></h6>
                
                Fusce sem nulla, rutrum ac suscipit eget, commodo vitae est.
              <div class="cleaner"></div>
            </div>
            <div class="sb_news_box">
            <img src="/static/images/templatemo_image_05.jpg" alt="Image 05" />
                <h6><a href="#">Vestibulum pharetra tortor</a></h6>
                    Donec et purus velit, eget euismod risus consectetur dolo.
                <div class="cleaner"></div>
            </div>
            <div class="sb_news_box">
       	    <img src="/static/images/templatemo_image_06.jpg" alt="Image 06" />
                <h6><a href="#">Morbi vitae velit eget</a></h6>
                Cras suscipit condimentum dolor, in facilisis est adipiscing.
                <div class="cleaner"></div>
            </div>
            <div class="sb_news_box">
       	    <img src="/static/images/templatemo_image_07.jpg" alt="Image 07" />
                <h6><a href="#">Etiam a enim id sapien</a></h6>
                Morbi vitae velit eget sem ullamcorper tempus.
                <div class="cleaner"></div>
            </div>
            
            <div class="btn_more"><a href="news.html">Read more</a></div>	
        </div>
       
    	<div class="cleaner"></div>
    </div>
    
	<div class="cleaner"></div>
</div>
</div>

{%endblock%}