{% extends "medicare/pat_portal.html" %}
{%block title%}<title>Request Appointment </title> {%endblock title%}
{% block content %}
    
    <div id="templatemo_content">
    					
        <div style=" position:relative; border-radius:20px; border:2px solid #ffffff; width:255px; height:500px; padding:5px;margin-top:-10px;" class="col_w300" >
		
            	<div style="position:relative;">
									
							         	<fieldset>
                          
                             <legend><b style="">Quick Links</b></legend>
                              	<div class="left_menu">
                              	
                              	<ul class="nav nav-pills nav-stacked">
       
       <li><a href="/mis/pat_portal/" ><img src="/static/" width="30" height="30" /> &nbsp Profile</a></li>
       <li><a  href="/mis/req_App/"><img src="/static/" width="30" height="30"/> &nbsp Appointment Request</a></li>
  		
  			<li><a href="/mis/scheduled_App/"  id="left_current"> <img src="/static/" width="30" height="30"/> &nbsp Scheduled App</a></li>
  			<li><a href="/mis/past_App/"><img src="/static/" width="30" height="30"/> &nbsp Past Appointments</a></li>
  			</ul>
  
  																					</div>
  	                          
	                   </fieldset>
								
								
					      </div>
			


            
            	
             </div>
             
        <!-- inner content-->     


  
             
             
             <div style="background-color:#ffffff; position:absolute; border-radius:20px; border:2px solid #3bb9ff; width:610px; height:500px; padding:5px; margin-left:300px;margin-top:-10px;" class="col_w300">
                            
                             <ul class="nav nav-tabs">
  																							<li><a href="#home" data-toggle="tab">Home</a></li>
  																							<li><a href="#profile" data-toggle="tab">Profile</a></li>
  																							<li><a href="#messages" data-toggle="tab">Messages</a></li>
  																							<li><a href="#settings" data-toggle="tab">Settings</a></li>
																				</ul>			
             
             </div>
        
       
        
    
    	<div class="cleaner"></div>
    </div>
    
	<div class="cleaner"></div>
</div>
</div>
 {% endblock %}
 
