{% extends "staff/nurse.html" %}
{%block title%}<title>Welcome to {{ Patient.Full_name_}} details </title> {%endblock title%}

{% block content %}
<a><h4 class = "breadcrumb" style= "width:910px; margin-left:-5px;"> {{Patient.Full_name_}}'s  PROFILE</h2></a>

<ul id="tab" class="nav nav-tabs"style = "width:938px;">
            <li class="active"><a href="#home" data-toggle="tab">Details</a></li>
            <li class=""><a href="#demo" data-toggle="tab">Demographics Data</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Immunization Data <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#immune1" data-toggle="tab">Add new</a></li>
                <li><a href="#immune2" data-toggle="tab">View existing</a></li>
              </ul>
            </li>
            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vitals <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">Add new</a></li>
                <li><a href="#dropdown2" data-toggle="tab">View existing</a></li>
              </ul>
            </li>
          </ul><div id="myTabContent" class="tab-content">
            <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="home">
             
              <table class="table table-striped table-bordered table-condensed" style = "width:938px;">
                     					 <thead>
                       						 <tr>
                              
                               				 <th> <a  style  = " position:relative;margin-left:10px;"><h>Patient ID:&nbsp {{Patient.patient_id }}</h> </a></th>
                                   
                                         		 <th><a  style  = " position:relative;margin-left:10px;"><h>NAME :&nbsp {{Patient.Full_name_}}</h></a> </th>
						
                                             			</tr>
                                                         </thead>


								<tbody>
      									
      									<tr>
        									<th><h><span class="muted">Age : </span>{{Patient.age}}&nbsp</h></th>
        									<th><h><span class="muted">Gender : </span>{{Patient.sex}}&nbsp</h></th>
      									</tr>
      									<tr>
        									<th><h><span class="muted">Date of Birth : </span>{{Patient.date_Of_birth}}&nbsp</h></th>
        									<th><h><span class="muted">Country : </span>{{Patient.Nationality}}&nbsp</h></th>
      									</tr>
      									<tr>
        									<th><h><span class="muted">Town/City : </span>{{Patient.City}}&nbsp</h></th>
        									<th><h><span class="muted">phone number : </span>{{Patient.phone_number}}&nbsp</h></th>
      									</tr>
      									<tr>
        									<th><h><span class="muted">Email : </span>{{Patient.Email}}&nbsp</h></th>
        									<th><h><span class="muted"> </span>&nbsp</h></th>
        									
      									</tr>
      									
    								</tbody>
  							</table>
  							
            </div>
            <div class="tab-pane fade"  id="demo">
            {% ifnotequal demo '' %}
            
            <table class="table table-striped table-bordered table-condensed" style = "width:938px;">
                     					 <tbody>
      									
      									<tr>
        									<th><h><span class="muted">Social Economics:  </span> {{demoData.socio_economics}}&nbsp</h></th>
        									<th><h><span class="muted">Education:  </span>{{demoData.education}}&nbsp</h></th>
      									</tr>
      									<tr>
        									<th><h><span class="muted">Housing Conditions: </span>{{demoData.housing_conditions}}&nbsp</h></th>
        									<th><h><span class="muted">Life Style: </span>{{demoData.religion }}&nbsp</h></th>
      									</tr>
      									<tr>
        									<th><h><span class="muted">Race: </span>{{demoData.race }}&nbsp</h></th>
        									<th><h><span class="muted">Languages Spoken:  </span>{{demoData.languages_known }}&nbsp</h></th>
      									</tr>
      									
    								</tbody>
  							</table>
  		{% else%}
  	
  		{% endifnotequal %}
            
           
          
            </div>
            
            <div class="tab-pane fade" id="immune1">
            
             <form method = "post" class = "form-outline" action ="."> 
                <table>
                {% for f in iForm  %}
                  <tr><td>{{f.name}}</td> <td>{{f}}</td></tr>
                 {%endfor%}
                
                </table>
               
             
               <button type = "submit" name = "vital" value = "2" class="btn btn-primary btn-large" >Save</button>
             </form>
            </div>
            <div class="tab-pane fade" id="immune2">
             <h4 style = "margin-left :350px;">{{patient_immune.count}} immunisations taken so far </h4>
             {% ifequal  patient_immune.count 0 %}
                     					 <p> NO IMMUNISATION DATA AVAILABLE FOR PATIENT YET</p> <a href ="#"> Add new </a> 
                     					
                     					  {% else %}
              <table class="table table-striped table-bordered table-condensed" style = "width:938px;">
             
              	<div>			<tr>
  <th><a  style  = " position:relative;margin-left:0px;">VACINE NAME </a></th>
  <th><a style  = " position:relative;margin-left:10px;">ROUTE </a></th>
  <th><a  style  = " position:relative;margin-left:0px;">INJECTION SITE</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">DOSE</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">ADMINISTRATOR</a></th>
   <th><a  style  = " position:relative;margin-left:0px;">VACINE DATE</a></th>
    <th><a  style  = " position:relative;margin-left:0px;">NEXT DUE DATE</a></th>
    <th><a  style  = " position:relative;margin-left:0px;">ADVERSE REACTION</a></th>
 
	</tr>
              
                     					  <tbody> 
                     					
      									{% for immune in  patient_immune %} 
      									
      									<tr>
        									<th><h><span class="muted"></span> {{ immune.vaccine_detail.vaccine_name}}&nbsp</h></th>
        									<th><h><span class="muted"> </span>{{immune.route}}&nbsp</h></th>
        									   <th><h><span class="muted">  </span>{{immune.injection_site }} &nbsp</h></th>
        									<th><h><span class="muted"> </span>{{immune.dose }} &nbsp</h></th>
        									<th><h><span class="muted">  </span>{{immune.administrator }} </h></th>
        									 <th><h><span class="muted">  </span>{{immune.vaccination_date }} </h></th>
        									  <th><h><span class="muted">  </span>{{immune.next_due}} </h></th>
        									    <th><h><span class="muted">  </span>{{immune.adverse_reaction }} </h></th>
        									 
      									</tr>
      									
      									{% endfor %}
      									{% endifequal %}
    								</tbody>
    								</table>
    		</div>						
            
                          
            
            
            
            <div class="tab-pane fade" id="dropdown1">
            
             <form method = "post" class = "form-outline" action ="."> 
                 {{vForm.as_p}}
             
               <button type = "submit" name = "vital" value = "1" class="btn btn-primary btn-large" >Save</button>
             </form>
            </div>
            <div class="tab-pane fade" id="dropdown2">
             <h4 style = "margin-left :350px;">{{ patient_vital.count}} vitals taken so far </h4>
             {% ifequal  patient_vital.count 0 %}
                     					 <p> NO VITALS AVAILABLE FOR PATIENT YET</p> <a href ="#"> Add new </a> 
                     					
                     					  {% else %}
              <table class="table table-striped table-bordered table-condensed" style = "width:938px;">
             
              	<div>			<tr>
  <th><a  style  = " position:relative;margin-left:0px;">BODY TEMPERATURE </a></th>
  <th><a style  = " position:relative;margin-left:10px;">BLOOD PRESSURE </a></th>
  <th><a  style  = " position:relative;margin-left:0px;">BREATHING RATE</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">HEART RATE</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">DATE TAKEN</a></th>
 
	</tr>
              
                     					  <tbody> 
                     					
      									{% for viTal in  patient_vital %} 
      									
      									<tr>
        									<th><h><span class="muted"></span> {{ viTal.body_temp}}celcius &nbsp</h></th>
        									<th><h><span class="muted"> </span>{{viTal.blood_pressure}}mm/Hg&nbsp</h></th>
        									   <th><h><span class="muted">  </span>{{viTal.respiration_rate }} breaths/mins&nbsp</h></th>
        									<th><h><span class="muted"> </span>{{viTal.heart_rate }} beats/mins&nbsp</h></th>
        									 <th><h><span class="muted">  </span>{{viTal.date_created }} </h></th>
        									
        									 
      									</tr>
      									
      									{% endfor %}
      									{% endifequal %}
    								</tbody>
    								</table>
    		</div>						
            </div>
          </div>
          <hr>
          
          
        <!-- <ul class="nav nav-tabs">
  <li><a href="#" data-toggle="tab">DETAILS</a></li>
  <li><a href="#" data-toggle="tab">Add vitals</a></li>
  <li><a href="#" data-toggle="tab">Add immunisation data</a></li>
  <li><a href="#" data-toggle="tab">Add demography</a></li>
</ul>-->
				


<div style="margin-top:0px;margin-bottom:20px;text-align:right; margin-left:0px;" class=hr><hr/></div>
						</div>





{% endblock content %}
